__CAMERA__
name==21st_broadway_head0
address_real==rtsp://aot:K%K4@lNEqW@10.32.136.8/defaultPrimary-0?streamType=u
address==rtsp://aot:K%K4@lNEqW@10.32.136.8/defaultPrimary-0?streamType=u
im1==2227,1416
im2==2234,789
im3==362,758
im4==220,1679
gps1==36.150191,-86.801195 #edge of brick curve closest to center
gps2==36.150494,-86.800601 #base of sign in between cars closer to qdoba building
gps3==36.150951,-86.800553 #corner of t-mobile store
gps4==36.150310,-86.801245 #far left corner of yellow strip before crosswalk
estimated_camera_location==36.150190,-86.801302
save_frames==True
output==/home/glouded/data/21st_broadway_head0_out.csv

__CAMERA__
name==21st_broadway_head1
address_real==rtsp://aot:K%K4@lNEqW@10.32.136.8/defaultPrimary-1?streamType=u
address==rtsp://aot:K%K4@lNEqW@10.32.136.8/defaultPrimary-1?streamType=u
im1==2227,1416
im2==2234,789
im3==362,758
im4==220,1679
gps1==36.150191,-86.801195 #edge of brick curve closest to center
gps2==36.150494,-86.800601 #base of sign in between cars closer to qdoba building
gps3==36.150951,-86.800553 #corner of t-mobile store
gps4==36.150310,-86.801245 #far left corner of yellow strip before crosswalk
estimated_camera_location==36.150190,-86.801302
save_frames==True
output==/home/glouded/data/21st_broadway_head1_out.csv

__CAMERA__
name==21st_broadway_head2
address_real==rtsp://aot:K%K4@lNEqW@10.32.136.8/defaultPrimary-2?streamType=u
address==rtsp://aot:K%K4@lNEqW@10.32.136.8/defaultPrimary-2?streamType=u
im1==2227,1416
im2==2234,789
im3==362,758
im4==220,1679
gps1==36.150191,-86.801195 #edge of brick curve closest to center
gps2==36.150494,-86.800601 #base of sign in between cars closer to qdoba building
gps3==36.150951,-86.800553 #corner of t-mobile store
gps4==36.150310,-86.801245 #far left corner of yellow strip before crosswalk
estimated_camera_location==36.150190,-86.801302
save_frames==True
output==/home/glouded/data/21st_broadway_head2_out.csv

__CAMERA__
name==21st_westend_head0
address_real==rtsp://aot:K%K4@lNEqW@10.32.144.14/defaultPrimary-0?streamType=u
address==rtsp://aot:K%K4@lNEqW@10.32.144.14/defaultPrimary-0?streamType=u
im1==2227,1416
im2==2234,789
im3==362,758
im4==220,1679
gps1==36.150191,-86.801195 #edge of brick curve closest to center
gps2==36.150494,-86.800601 #base of sign in between cars closer to qdoba building
gps3==36.150951,-86.800553 #corner of t-mobile store
gps4==36.150310,-86.801245 #far left corner of yellow strip before crosswalk
estimated_camera_location==36.150190,-86.801302
save_frames==True
output==/home/glouded/data/21st_westend_head0_out.csv

__CAMERA__
name==21st_westend_head1
address_real==rtsp://aot:K%K4@lNEqW@10.32.144.14/defaultPrimary-1?streamType=u
address==rtsp://aot:K%K4@lNEqW@10.32.144.14/defaultPrimary-1?streamType=u
im1==2227,1416
im2==2234,789
im3==362,758
im4==220,1679
gps1==36.150191,-86.801195 #edge of brick curve closest to center
gps2==36.150494,-86.800601 #base of sign in between cars closer to qdoba building
gps3==36.150951,-86.800553 #corner of t-mobile store
gps4==36.150310,-86.801245 #far left corner of yellow strip before crosswalk
estimated_camera_location==36.150190,-86.801302
save_frames==True
output==/home/glouded/data/21st_westend_head1_out.csv

__CAMERA__
name==21st_westend_head2
address_real==rtsp://aot:K%K4@lNEqW@10.32.144.14/defaultPrimary-2?streamType=u
address==rtsp://aot:K%K4@lNEqW@10.32.144.14/defaultPrimary-2?streamType=u
im1==2227,1416
im2==2234,789
im3==362,758
im4==220,1679
gps1==36.150191,-86.801195 #edge of brick curve closest to center
gps2==36.150494,-86.800601 #base of sign in between cars closer to qdoba building
gps3==36.150951,-86.800553 #corner of t-mobile store
gps4==36.150310,-86.801245 #far left corner of yellow strip before crosswalk
estimated_camera_location==36.150190,-86.801302
save_frames==True
output==/home/glouded/data/21st_westend_head2_out.csv

__CAMERA__
name==MRBIII_head0
address_real==rtsp://aot:K%K4@lNEqW@10.18.26.28/defaultPrimary-0?streamType=u
address==rtsp://aot:K%K4@lNEqW@10.18.26.28/defaultPrimary-0?streamType=u
im1==2227,1416
im2==2234,789
im3==362,758
im4==220,1679
gps1==36.150191,-86.801195 #edge of brick curve closest to center
gps2==36.150494,-86.800601 #base of sign in between cars closer to qdoba building
gps3==36.150951,-86.800553 #corner of t-mobile store
gps4==36.150310,-86.801245 #far left corner of yellow strip before crosswalk
estimated_camera_location==36.150190,-86.801302
save_frames==True
output==/home/glouded/data/21st_MRBIII_head0_out.csv

__CAMERA__
name==MRBIII_head1
address_real==rtsp://aot:K%K4@lNEqW@10.18.26.28/defaultPrimary-1?streamType=u
address==rtsp://aot:K%K4@lNEqW@10.18.26.28/defaultPrimary-1?streamType=u
im1==2227,1416
im2==2234,789
im3==362,758
im4==220,1679
gps1==36.150191,-86.801195 #edge of brick curve closest to center
gps2==36.150494,-86.800601 #base of sign in between cars closer to qdoba building
gps3==36.150951,-86.800553 #corner of t-mobile store
gps4==36.150310,-86.801245 #far left corner of yellow strip before crosswalk
estimated_camera_location==36.150190,-86.801302
save_frames==True
output==/home/glouded/data/21st_MRBIII_head1_out.csv

__CAMERA__
name==MRBIII_head2
address_real==rtsp://aot:K%K4@lNEqW@10.18.26.28/defaultPrimary-2?streamType=u
address==rtsp://aot:K%K4@lNEqW@10.18.26.28/defaultPrimary-2?streamType=u
im1==2227,1416
im2==2234,789
im3==362,758
im4==220,1679
gps1==36.150191,-86.801195 #edge of brick curve closest to center
gps2==36.150494,-86.800601 #base of sign in between cars closer to qdoba building
gps3==36.150951,-86.800553 #corner of t-mobile store
gps4==36.150310,-86.801245 #far left corner of yellow strip before crosswalk
estimated_camera_location==36.150190,-86.801302
save_frames==True
output==/home/glouded/data/21st_MRBIII_head2_out.csv

# END
