__CAMERA__
name==aot_mrbIII_camhead1_fromfile
address==/home/worklab/Data/cv/video/AOTsample1_1.mp4
im1==2227,1416
im2==2234,789
im3==362,758
im4==220,1679
gps1==36.150191,-86.801195 #edge of brick curve closest to center
gps2==36.150494,-86.800601 #base of sign in between cars closer to qdoba building
gps3==36.150951,-86.800553 #corner of t-mobile store
gps4==36.150310,-86.801245 #far left corner of yellow strip before crosswalk
estimated_camera_location==36.150190,-86.801302
save_frames==True
output==/home/worklab/Desktop/{}_test_out1.csv

__CAMERA__
name==aot_mrbIII_camhead1_fromfile
address==/home/worklab/Data/cv/video/AOTsample1_2.mp4
im1==2227,1416
im2==2234,789
im3==362,758
im4==220,1679
gps1==36.150191,-86.801195 #edge of brick curve closest to center
gps2==36.150494,-86.800601 #base of sign in between cars closer to qdoba building
gps3==36.150951,-86.800553 #corner of t-mobile store
gps4==36.150310,-86.801245 #far left corner of yellow strip before crosswalk
estimated_camera_location==36.150190,-86.801302
save_frames==True
output==/home/worklab/Desktop/{}_test_out2.csv

# END